 t
 /* Body copy FONT  font-family: 'Open Sans', sans-serif; */

 body {
     margin: 0;
     padding: 0;
 }

 body p {
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     color: #FFF;
 }

#fixed-cont {
    width: 100%;   
}

 nav {
     position: absolute;
     width: 100%;
 }

 nav ul {
     width: 100%;
     margin-top: 15px;
     list-style: none;
     justify-content: flex-end;
 }

 a {
     color: #FFF;
     margin-right: 20px;
     font-size: 12px;
     font-weight: 600;
     transition: 0.3s;
 }

 a:hover {
     color: #C9B272;
     text-decoration: none;
 }

 #footer-nav {
     position: absolute;
     width: 100%;
     bottom: 0;
     margin-bottom: 15px;
 }

 #footer-nav div {
     justify-content: flex-end;
     margin-right: 20px;
 }

 #main {
     width: 100%;
     background-image: url(../img/homebg.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
 }

 #main-cont {
     width: 100%;
     min-height: 100vh;
     background: radial-gradient(circle, rgba(50, 50, 50, 0.4) 0%, rgba(40, 40, 40, 0.7) 100%);
 }

 #main-title-cont {
     width: 100%;
     margin: 0;
 }

 #main-title {
     padding: 0;
 }

 h1 {
     font-family: Georgia, serif;
     font-size: 70px;
     color: #FFF;
     margin-bottom: 0;
     display: flex;
     flex-direction: column;
 }

 h1 span {
     font-family: Georgia, serif;
     font-style: italic;
     font-size: 24px;
     color: #FFF;
     margin-bottom: 0;
 }

 hr {
     display: block;
     border: solid 1px;
     width: 100%;
     color: #C9B272;
 }

 #main-title p {
     text-align: center;
     font-size: 20px;
 }

 /*------------ Main 2fade-out --------------*/
 #fade-out {
     width: 100%;
     min-height: 100vh;
     background: radial-gradient(circle, rgba(83, 94, 84, 1) 0%, rgba(28, 36, 29, 1) 79%);
 }


 /*---------- Appalachia Info & Map -------------*/
 #info-cont {
     min-height: 100vh;
 }

 .app-cont {
     width: 80%;
     max-width: 1440px;
 }

 .app-info {
     margin: 0;
     margin-bottom: 30px;
     padding: 0;
     opacity: 0;
 }

 h3 {
     font-family: Georgia, serif;
     font-style: italic;
     font-size: 24px;
     color: #FFF;
     margin-left: 30px;
     margin-bottom: 0;
 }

 h4 {
     font-family: Georgia, serif;
     font-size: 48px;
     color: #FFF;
     margin-left: 30px;
     margin-bottom: 0;
 }

 .app-info p {
     margin-top: 40px;
     width: 80%;
     margin-left: 30px;
 }

 .app-map {
     margin: 0;
     padding: 0;
     min-height: 100%;
     opacity: 0;
 }

 .app-map img {
     width: 100%;
     border-left: 2px solid #C9B272;
     border-top: 2px solid #C9B272;
 }


 /*----------------- 4 SOCIAL DETERMINANTS ---------------*/
 #social-cont {
     width: 100%;
     min-height: 100vh;
     opacity: 0;
 }

 h5 {
     font-family: Georgia, serif;
     font-size: 30px;
     color: #FFF;
     margin: 0px;
 }


 /*---------------- 5 Dr Image ---------------------*/
 #drimg {
     width: 100%;
     background-image: url(../img/homedr.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
 }

 #dr-cont {
     width: 100%;
     min-height: 100vh;
     background: radial-gradient(circle, rgba(50, 50, 50, 0.4) 0%, rgba(40, 40, 40, 0.7) 100%);
 }

 /*--------------- 6 Dr text ----------------*/
 #dr-text {
     width: 100%;
     min-height: 100vh;
     opacity: 0;
 }

 #dr-text h5 {
     font-size: 22px;
     margin-bottom: 30px;
 }

/*--------------- 7 Implicit test --------------*/
#implicit {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(112,112,112,0) 0%, rgba(11,13,11,1) 100%);
}

#implicit-link {
     width: 40%;
    background-color: #FFF;
    padding: 20px;
    z-index: 10;
}

#implicit-link p {
    color: rgba(112,112,112,1); 
    font-family: Georgia, serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

#implicit-btn {
    margin-top: 20px;
    background-color: #C9B272;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    transition: 0.5s;
}

#implicit-btn:hover {
    background-color: #FFF;
    color: #C9B272;
    border: 1px solid #C9B272;
}



 /*------------------ MEDIA QUERIES  ----------------------*/

 /*------------ up to landscape tablet -----------------*/
 @media only screen and (max-width: 1279px) {

     h1 {
         font-size: 48px;
         white-space: pre-wrap;
     }

     h2 {
         font-size: 20px;
     }
 }


 /* ---------- up to portrait tablet -----------------*/
 @media only screen and (max-width: 900px) {

     h1 {
         font-size: 48px;
         text-align: center;
     }

     h2 {
         font-size: 20px;
         text-align: center;
     }

     nav ul {
         justify-content: center;
     }

     #footer-nav div {
         justify-content: center;
         margin-right: 0px;
     }

     .app-info p {
         margin-top: 40px;
         width: 90%;
         margin-left: 30px;
     }

     .app-map {
         margin: 0;
         padding: 0;
         min-height: 100%;
         display: flex;
         justify-content: center;
     }

     .app-map img {
         width: 90%;
         align-self: center;
         border-left: 2px solid #C9B272;
         border-top: 2px solid #C9B272;
     }

     h5 {
         font-size: 26px;
     }
     
     #implicit-link {
     width: 70%;
    background-color: #FFF;
    padding: 20px;
}
 }

 /* ---------- small phones -----------------*/
 @media only screen and (max-width: 375px) {
     nav {
         display: none;
     }

     .app-info p {
         margin-top: 40px;
         width: 100%;
         margin-left: 0px;
     }

     h3 {
         margin-left: 10px;
     }

     h4 {
         margin-left: 10px;
     }
 }
