 /* Body copy FONT  font-family: 'Open Sans', sans-serif; */

 body {
     margin: 0;
     padding: 0;
 }

 body p {
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     color: #FFF;
 }

 #fixed-cont {
     width: 100%;
 }

 nav {
     position: absolute;
     width: 100%;
 }

 nav ul {
     width: 100%;
     margin-top: 15px;
     list-style: none;
     justify-content: flex-end;
 }

 a {
     color: #FFF;
     margin-right: 20px;
     font-size: 12px;
     font-weight: 600;
     transition: 0.3s;
 }

 a:hover {
     color: #C9B272;
     text-decoration: none;
 }

.btn {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-right: 20px;
    padding-top: 9px;
}

.btn:hover {
    color: #C9B272;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

.btn.btn-primary:focus {
    color: #C9B272;
    background-color: rgba(0,0,0,0);
}

.btn.btn-primary:active:focus {
    color: #C9B272;
    background-color: rgba(0,0,0,0);
}

.dropdown-menu {
    width: 80%;
    margin-left: 5%;
    background-color: rgba(0,0,0,.5);
}

.dropdown-menu li {
    margin: 0px;  
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 0px;
}

.dropdown-menu li:hover {
    text-decoration: underline;
}

 #sim-link {
     margin-right: 0px;
 }

 #footer-nav {
     position: absolute;
     width: 100%;
     bottom: 0;
     margin-bottom: 15px;
 }

 #footer-nav div {
     justify-content: center;
     margin-right: 20px;
 }

 .scroll img {
     width: 400px;
     margin-bottom: 10px
 }

 #main {
     width: 100%;
     background-image: url(../img/homebg.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
 }

 #main-cont {
     width: 100%;
     min-height: 100vh;
     background: radial-gradient(circle, rgba(50, 50, 50, 0.4) 0%, rgba(40, 40, 40, 0.7) 100%);
 }

 #main-title-cont {
     width: 100%;
     margin: 0;
 }

 #main-title {
     padding: 0;
 }

 h1 {
     font-family: Georgia, serif;
     font-size: 64px;
     color: #FFF;
     margin-bottom: 0;
     display: flex;
     flex-direction: column;
 }

 h1 span {
     font-family: Georgia, serif;
     font-style: italic;
     font-size: 22px;
     color: #FFF;
     margin-bottom: 0;
 }

 hr {
     display: block;
     border: solid 1px;
     width: 100%;
     color: #C9B272;
 }

 #main-title p {
     text-align: center;
     font-size: 18px;
 }

 /*------------ Main 2fade-out --------------*/
 #fade-out {
     width: 100%;
     min-height: 100vh;
     background: radial-gradient(circle, rgba(83, 94, 84, 1) 0%, rgba(28, 36, 29, 1) 79%);
 }


 /*---------- Appalachia Info & Map -------------*/
 #info-cont {
     min-height: 100vh;
 }

 .app-cont {
     width: 80%;
     max-width: 1440px;
 }

 .app-info {
     margin: 0;
     margin-bottom: 30px;
     padding: 0;
     /*opacity: 0;*/
 }

 h3 {
     font-family: Georgia, serif;
     font-style: italic;
     font-size: 24px;
     color: #FFF;
     margin-left: 30px;
     margin-bottom: 0;
 }

 h4 {
     font-family: Georgia, serif;
     font-size: 48px;
     color: #FFF;
     margin-left: 30px;
     margin-bottom: 0;
 }

 .app-info p {
     margin-top: 40px;
     width: 80%;
     margin-left: 30px;
 }

 .app-map {
     margin: 0;
     padding: 0;
     min-height: 100%;
     /*opacity: 0;*/
 }

 .app-map img {
     width: 100%;
     border-left: 2px solid #C9B272;
     border-top: 2px solid #C9B272;
 }

 .app-map-key {
     margin-top: 10px;
 }

 .app-map-key img {
     border: none;
 }

 .app-map-key p {
     font-size: 9px;
     font-style: italic;
     margin-top: 5px;
 }




 /*----------------- 4 SOCIAL DETERMINANTS ---------------*/
 #social-cont {
     width: 100%;
     min-height: 100vh;
     opacity: 0;
 }

 h5 {
     font-family: Georgia, serif;
     font-size: 30px;
     color: #FFF;
     margin: 0px;
 }


 /*---------------- 5 Dr Image ---------------------*/
 #drimg {
     width: 100%;
     background-image: url(../img/homedr.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
     z-index: 0;
 }

 #dr-cont {
     width: 100%;
     min-height: 100vh;
     background: linear-gradient(180deg, rgba(50, 50, 50, 0.4) 0%, rgba(30, 30, 30, 0.9) 100%);
 }

 /*--------------- 6 Dr text ----------------*/
 #dr-text {
     width: 100%;
     min-height: 100vh;
     opacity: 0;
 }

 #dr-text h5 {
     font-size: 22px;
     margin-bottom: 30px;
 }

 /*--------------- 7 Implicit test --------------*/
 #implicit {
     width: 100%;
     min-height: 100vh;
 }

 #implicit-link {
     width: 40%;
     background-color: #FFF;
     padding: 20px;
     z-index: 10;
 }

 #implicit-link p {
     color: rgba(112, 112, 112, 1);
     font-family: Georgia, serif;
     font-size: 16px;
     text-align: center;
     margin: 0;
 }

 #implicit-btn {
     margin-top: 20px;
     background-color: #C9B272;
     height: 60px;
     padding-top: 20px;
     text-align: center;
     transition: 0.5s;
 }

 #implicit-btn:hover {
     background-color: #FFF;
     color: #C9B272;
     border: 1px solid #C9B272;
 }


 /*------------------ 8 LINKS TO TRAINING -------------------*/
 #lm {
     width: 100%;
     background-image: url(../img/lmtraining.jpg);
     background-position: top;
     background-size: cover;
     overflow: hidden;
     padding: 0;
     margin: 0;
     margin-right: 3px;
 }

 #lm-cont {
     width: 100%;
     min-height: 100vh;
     background: rgba(72, 71, 71, .5);
 }

 #des {
     width: 100%;
     background-image: url(../img/destraining.jpg);
     background-position: top;
     background-size: cover;
     overflow: hidden;
     margin: 0;
     padding: 0;
     margin-left: 3px;
 }

 #des-cont {
     width: 100%;
     min-height: 100vh;
     background: rgba(72, 71, 71, .5);
 }

 .training {
     width: 60%;
     margin-bottom: 30px;
 }

 .training-title {
     margin-bottom: 30px;
 }

 .time {
     font-style: italic;
     margin-bottom: 0;
     margin-top: 50px;
 }

 .traininglink {
     width: 60%;
 }

 .training-btn {
     background-color: #C9B272;
     height: auto;
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
     border: 1px solid #C9B272;
     transition: 0.5s;
 }

 .training-btn:hover {
     background-color: #FFF;
     color: #C9B272;
     border: 1px solid #C9B272;
 }

#desktop-view {
        display: none;   
     }

 /*------------------- LULA MAE TRAINING INTRO ----------------------*/
.modal {
    width:100%;
    height: 100vh;
    position: absolute;
    display: block;
    background-color:rgba(0,0,0,.7);
}

.surveybg {
    position: absolute;
    width: 80%;
    height: 80vh;
    background-color: #FFF;
    z-index: 100;
}

.close {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 60px;
    color: #808080;
    display: block;
}

.close:hover {
    color: #C9B272;
    cursor: pointer;
}

#survey-text {
    width: 100%;
    height: 100%;
}

#survey-text p {
      color: rgba(112, 112, 112, 1);
     font-family: Georgia, serif;
     font-size: 20px;
     text-align: center;
     margin: 0; 
}

#survey-text a {
    width: 30%;
    margin-top: 20px;
}

.title-text {
    font-weight: 600;   
    font-size: 24px;
}

 #lm-main {
     width: 100%;
     background-color: #535E54;
     margin: 0;
 }

 #lm-main-cont {
     width: 100%;
     min-height: 100vh;
     margin: 0;
 }

 #lm-main-title-cont {
     width: 100%;
     margin: 0px;
     padding: 0px;
 }

 #lm-main-title {
     padding: 0px;
     margin-left: 100px;
     margin-right: 0px;
 }

 #lm-main-title h1 {
     font-size: 50px;
     width: 100%;
 }

 #lm-main-title h1 span {
     font-size: 20px;
 }

 #lm-main-title p {
     width: 80%;
     line-height: 1.8em;
 }

 #lm-main-title a {
     width: 150px;
     height: 70px;
     margin-top: 30px
 }

 #lm-main-img {
     height: 100vh;
     overflow: hidden;
     border-left: 3px solid #C9B272;
 }

 #lm-main-img img {
     width: 100%;
     object-fit: cover;
 }

 /* ON LULA MAE INTRO */

 #lm-img {
     height: 100vh;
     overflow: hidden;
     width: 50%;
     margin-left: 15%;
 }

 #lm-img img {
     min-width: 100%;
     max-height: 70vh;
     object-fit: cover;
     border: solid 2px #C9B272;
 }

 #lm-text {
     width: 100%;
     margin: 0px;
     padding: 0px;
 }

 #lm-about-title {
     padding: 0px;
     margin-left: 0px;
     margin-right: 0px;
     width: 90%;
 }

 #lm-about-title h1 {
     font-size: 50px;
     width: 60%;
     margin-left: 70px;
 }

 #lm-about-title p {
     width: 60%;
     line-height: 1.8em;
     margin-left: 70px;
 }

 #lm-about-title a {
     width: 320px;
     margin-top: 30px;
     margin-left: 70px;
 }

.backlink a {
    font-style: italic; 
    font-weight: 300;
    width: 60%;
    margin-left: 70px;
}


 /*------------------ MEDIA QUERIES  ----------------------*/

 /*------------ up to landscape tablet -----------------*/
 @media only screen and (max-width: 1279px) {

     h1 {
         font-size: 48px;
         white-space: pre-wrap;
     }

     h2 {
         font-size: 20px;
     }
 }


 /* ---------- up to portrait tablet -----------------*/
 @media only screen and (max-width: 900px) {

     h1 {
         font-size: 48px;
         text-align: center;
     }

     h2 {
         font-size: 20px;
         text-align: center;
     }

     nav ul {
         justify-content: center;
     }

     #footer-nav div {
         justify-content: center;
         margin-right: 0px;
     }

     .app-info p {
         margin-top: 40px;
         width: 90%;
         margin-left: 30px;
     }

     .app-map {
         margin: 0;
         padding: 0;
         min-height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .app-map img {
         width: 100%;
         align-self: center;
         border-left: 2px solid #C9B272;
         border-top: 2px solid #C9B272;
     }

     h5 {
         font-size: 26px;
     }

     #implicit-link {
         width: 70%;
         background-color: #FFF;
         padding: 20px;
     }

     #lm {
         margin-right: 0px;
     }

     #des {
         margin-left: 0px;
     }
     
     #lm-main-cont {
        display: flex;
         flex-direction: column;
     }
     
      #lm-img {
     margin-left: 0;
     }
     
     #training {
        position: relative; 
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: center;
         overflow: hidden;
     }
     
     #lm {
      filter: brightness(50%);   
     }
     
     #des {
      filter: brightness(50%);   
     }
     
     #desktop-view {
        display: flex; 
         flex-direction: column;
         position: absolute;
         top: 50px;
         width: 90%;
         height: 80vh;
         background-color:#FFF;
         justify-content: center;
         align-items: center;
         margin: 0;

     }
     
     #desktop-view h4 {
        color: #535E54; 
         font-size: 35px;
         width: 70%;
         font-family: Georgia, serif;
         text-align: center;
         margin-left: 0;
     }
     
     #desktop-view p {
        color: #535E54;
         width: 70%;
         margin-top: 20px;
         text-align: center;
     }
     
     .training-btn {
        display: none;   
     }
        
 }

 }

 /* ---------- small phones -----------------*/
 @media only screen and (max-width: 375px) {
     nav {
         display: none;
     }

     .app-info p {
         margin-top: 40px;
         width: 100%;
         margin-left: 0px;
     }

     h3 {
         margin-left: 10px;
     }

     h4 {
         margin-left: 10px;
     }
 }
